<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - Current URLS</title>
</head>
<body>
  <%- include('partials/_header') %>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <% if (currentUser) { %>
    <h4>Your Short URLs</h4>
    <table>
      <% for(url in urls) { %>
        <tr>
          <td>
            <a href="<%= urls[url].longURL %>"><%= `${url}` %></a><%= ` → ${urls[url].longURL}` %>
          </td>
          <td>
            <a href="/urls/<%= url %>">Edit</a>
            <form method="POST" action="/urls/<%= url %>/delete" style='display:inline;'>
              <button>DELETE</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <p>Shorten your URL <a href="/urls/new">here</a>!</p>
  <% } %>
</body>
</html>