<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>

<body>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <% if (currentUser) { %>
    <h4>Your Short URLs</h4>
    <table>
      <% for(url in urls) { %>
        <tr>
          <td>
            <a href="<%= urls[url].longURL %>"><%= `${url}` %></a><%= ` → ${urls[url].longURL}` %>
          </td>
          <td>
            <a href="/urls/<%= url %>">Edit</a>
            <form method="POST" action="/urls/<%= url %>/delete" style='display:inline;'>
              <button>DELETE</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <p>Shorten your URL <a href="/urls/new">here</a>!</p>
  <% } else {%>
  <p>Don't have an account? Please <a href="/register">register</a> first.</p>
  <% } %>
</body>
</html>