<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - Show My URL</title>
</head>
<body>
  <%- include('partials/_header') %>
  <% if (currentUser) { %>
  <table>
    <tr>
      <td>
        <p><a href="<%= longURL.longURL %>"> <%= `http://localhost:8080/${shortURL}` %></a><%= ` → (${longURL.longURL})` %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <form method="POST" action="/urls/<%= shortURL %>/edit" style='display:inline;'>
            <input type="text" name="newURL" value="http://">
            <button type="submit">EDIT</button>
          </form>
        </p>
      </td>
    </tr>
  </table>
  <p><a href="/urls/new">Create a new short URL</a> <a href="/urls/">View my short URLs</a></p>
  <% } %>
</body>
</html>

