<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - Current URLS</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h4>Your Short URLs</h4>
  <ul>
    <% for(url in urls) { %>
    <li><a href="<%= urls[url] %>" id="shortLink"><%= `${url}` %></a><%= ` → ${urls[url]}` %>
      <a href="/urls/<%= url %>">Edit</a>
      <form method="POST" action="/urls/<%= url %>/delete" style='display:inline;'>
        <button>DELETE</button>
      </form>
    </li>
    <% } %>
  </ul>
  <p>Shorten your URL <a href="/urls/new">here</a>!</p>
</body>
</html>